body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

section.cover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.07);
}
section.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

section.cover h1 {
    font-weight: normal;
    margin: 0.625rem 0 0;
}

section.cover h1+p {
    margin-top: 0;
    opacity: .5;
}

.coverpage-avatar {
    border-radius: 50%;
    margin-bottom: 2rem;
}

.sidebar-nav {
    text-align: center;
}

.sidebar-nav ul {
    margin-left: 0;
    padding-left: 0;
}

.search input:focus {
    border: none!important;
    box-shadow: none!important;
}